.Img body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffffff no-repeat;
    background-size: 1366px 662px;
}

.slide-0 {
    background: url(images/hotel3.jpg) no-repeat;
    background-size: 1200px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 100px;
}

.slide-1 {
    background: url(images/hotel2.jpg)  no-repeat;
    background-size: 1200px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 100px;
}

.slide-2 {
    background: url(images/hotel4.jpg)  no-repeat;
    background-size: 1200px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 100px;
}

.slide-3{
    background: url(images/hotel5.jpg)  no-repeat;
    background-size: 500px 600px;
    height:570px;
    width: 1200px;
    margin-top:40px;
    margin-left: 420px;
}

.slide-4{
    background: url(images/hotel6.jpg)  no-repeat;
    background-size: 1200px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 100px;
}

.slide-5{
    background: url(images/hotel7.jpg)  no-repeat;
    background-size: 900px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 250px;
}

.slide-6{
    background: url(images/hotel8.jpg)  no-repeat;
    background-size: 900px 600px;
    height:630px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 220px;
}

.slide-7{
    background: url(images/hotel9.jpg)  no-repeat;
    background-size: 900px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 170px;
}

.slide-8{
    background: url(images/hotel10.jpg)  no-repeat;
    background-size: 900px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 170px;
}

.slide-9{
    background: url(images/hotel11.jpg)  no-repeat;
    background-size: 900px 600px;
    height:570px;
    width: 1200px;
    margin-top: 40px;
    margin-left: 200px;
}

.slide-10{
    background: url(images/wildflower.jpg)  no-repeat;
    background-size: 1000px 500px;
    height:570px;
    width: 1200px;
    margin-left: 180px;
    margin-top:150px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: "Segoe UI Light";
    color:#ffffff;
}