h1{
    font-family: "Segoe UI Light";
    color:#ffffff;
}

p {
    position : relative;
    margin-left: 95px;
    margin-right: 65px;
    color:#ffffff;
    font-family: "Segoe UI Light";
    font-weight: bold;
    margin-top:310px;
}