
/* Navbar container */
.navbar {
    margin-top:47px;
    overflow: hidden;
    background-color: #00BFFF;
    font-family: Arial;
    z-index: 1;
    width:1366px;
}

/* Links inside the navbar */
.navbar a {
    margin-top:0px;
    margin-left: 100px;
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    background-color: #ffffff;
    background-size: 1366px 10px;
    width: 1366px;
    height:82px;
    z-index: 2;
}

.logo2{
    background: url(logo2.jpg) center center no-repeat;
    background-size: 80px 80px;
    margin-left: 650px;
    width: 80px;
    height:175px;
}

